<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Ana Sayfa - Safetube</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/static/assets/img/favicon.png" rel="icon">
  <link href="/static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.g/static.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="/static/assets/css/main.css" rel="stylesheet">


</head>

<body class="index-page">

  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid position-relative d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center me-auto me-xl-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="/static//static/assets/img/logo.png" alt=""> -->
        <h1 class="sitename">Safetube</h1><span>.</span>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="#hero" class="">Ana Sayfa</a></li>
          <li><a href="#about">Hakkımızda</a></li>
          <li><a href="#services">Hizmetlerimiz</a></li>
          <li><a href="#faq">Sıkça Sorulan Sorular</a></li>
          <li><a href="#contact">İletişim</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <p>

    </div>
  </header>

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section">

      <img src="/static/assets/img/hero-bg.jpg" alt="" data-aos="fade-in">

      <div class="container">
        <div class="row">
          <div class="col-lg-10">
            <h2 data-aos="fade-up" data-aos-delay="100">Safetube'a Hoşgeldiniz</h2>
            <p data-aos="fade-up" data-aos-delay="200">Çocuklarınızı YouTube'daki küfür ve şiddet içeren içeriklerden korumak amacıyla geliştirilmiştir.</p>
          </div>
          
          <p></p> 
          <p></p> 
          <p></p> 
          <a href="https://www.youtube.com/watch?v=mqvslJPVWo8">
            <input type="submit" class="btn btn-primary" value="Demo Videosuna Gidin" data-aos="fade-up" data-aos-delay = "300">
          </a> 

        </div>
      </div>

    </section><!-- /Hero Section -->

    <!-- Clients Section -->
    <section id="clients" class="clients section">

      <div class="container" data-aos="fade-up">

        <div class="row gy-6">

          <div class="col-xl-2 col-md-3 col-6 client-logo">
            <img src="" class="img-fluid" alt="">
          </div><!-- End Client Item -->

          <div class="col-xl-2 col-md-3 col-6 client-logo">
            <img src="" class="img-fluid" alt="">
          </div><!-- End Client Item -->

          <div class="col-xl-2 col-md-3 col-6 client-logo">
            <img src="/static/assets/img/clients/client-3.png" class="img-fluid" alt="">
          </div><!-- End Client Item -->

          <div class="col-xl-2 col-md-3 col-6 client-logo">
            <img src="/static/assets/img/clients/client-4.png" class="img-fluid" alt="">
          </div><!-- End Client Item -->



        </div>

      </div>

    </section><!-- /Clients Section -->

    <!-- About Section -->
    <section id="about" class="about section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row align-items-xl-center gy-5">
      
          <div class="col-xl-5 content">
            <h3>Biz Kimiz?</h3>
            <h2>Çocukları Güvende Tutmak İçin Buradayız</h2>
            <p>Günümüzde internet ve dijital içerikler çocuklar için büyük bir eğlence ve öğrenme kaynağı haline geldi. Ancak, bazı içerikler çocukların gelişimi için uygun olmayabilir. Projemiz, çocuklarınızı YouTube'daki küfür ve şiddet içeren içeriklerden korumak amacıyla geliştirilmiştir.</p>
            <a href="https://www.youtube.com/watch?v=mqvslJPVWo8" class="read-more"><span>Videomuz</span><i class="bi bi-arrow-right"></i></a>
          </div>

          <div class="col-xl-7">
            <div class="row gy-4 icon-boxes">

              <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
                <div class="icon-box">
                  <i class="bi bi-puzzle"></i>
                  <h3>Eklenti</h3>
                  <p>Projemize tarayıcı eklentisi üzerinden ulaşabilirsiniz.</p>
                </div>
              </div> <!-- End Icon Box -->

              <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
                <div class="icon-box">
                  <i class="bi bi-graph-up-arrow"></i>
                  <h3>Analiz</h3>
                  <p>Videonun hem görsel hem de kelime analizini yapıyoruz.</p>
                </div>
              </div> <!-- End Icon Box -->

              <div class="col-md-6" data-aos="fade-up" data-aos-delay="400">
                <div class="icon-box">
                  <i class="bi bi-cash"></i>
                  <h3>Ücret</h3>
                  <p>Uygulamamız şu an tamamen ücretsiz olup gelecek güncellemelere göre fiyatlandırılabilir.</p>
                </div>
              </div> <!-- End Icon Box -->

              <div class="col-md-6" data-aos="fade-up" data-aos-delay="500">
                <div class="icon-box">
                  <i class="bi bi-clipboard-pulse"></i>
                  <h3>Rapor</h3>
                  <p>Sonuçları size en iyi şekilde raporluyoruz.</p>
                </div>
              </div> <!-- End Icon Box -->

            </div>
          </div>

        </div>
      </div>

    </section><!-- /About Section -->

    <!-- Stats Section -->
    <section id="stats" class="stats section">

      <img src="/static/assets/img/stats-bg.jpg" alt="" data-aos="fade-in">

      <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="93" data-purecounter-duration="1" class="purecounter"></span>
              <p>İncelenen Video Sayısı</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="1020" data-purecounter-duration="1" class="purecounter"></span>
              <p>İncelenen Video Dakikası</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="1826" data-purecounter-duration="1" class="purecounter"></span>
              <p>Bulunan Uygunsuz Cümle Sayısı</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="320" data-purecounter-duration="1" class="purecounter"></span>
              <p>Bulunan Şiddet İçerikli Görüntü</p>
            </div>
          </div><!-- End Stats Item -->

        </div>

      </div>

    </section><!-- /Stats Section -->

    <!-- Services Section -->
    <section id="services" class="services section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Hizmetlerimiz</h2>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-6 " data-aos="fade-up" data-aos-delay="100">
            <div class="service-item d-flex">
              <div class="icon flex-shrink-0"><i class="bi bi-camera-video"></i></div>
              <div>
                <h4 class="title"><a href="#services" class="stretched-link">Görüntü Analizi</a></h4>
                <p class="description">Videolardaki bıçak ve silah görüntülerini tespit ediyoruz.</p>
              </div>
            </div>
          </div>
          <!-- End Service Item -->

          <div class="col-lg-6 " data-aos="fade-up" data-aos-delay="200">
            <div class="service-item d-flex">
              <div class="icon flex-shrink-0"><i class="bi bi-card-checklist"></i></div>
              <div>
                <h4 class="title"><a href="#services" class="stretched-link">Görüntü Modelimiz</a></h4>
                <p class="description">Eğitmiş olduğumuz model %85 doğruluk oranına sahiptir.</p>
              </div>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-6 " data-aos="fade-up" data-aos-delay="300">
            <div class="service-item d-flex">
              <div class="icon flex-shrink-0"><i class="bi bi-soundwave"></i></div>
              <div>
                <h4 class="title"><a href="#services" class="stretched-link">Cümle Analizi</a></h4>
                <p class="description">Videodaki sesleri yazıya çevirip modelimize veriyoruz.</p>
              </div>
            </div>
          </div><!-- End Service Item -->
          
          <div class="col-lg-6 " data-aos="fade-up" data-aos-delay="400">
            <div class="service-item d-flex">
              <div class="icon flex-shrink-0"><i class="bi bi-card-checklist"></i></div>
              <div>
                <h4 class="title"><a href="#services" class="stretched-link"></a>Cümle Modelimiz</h4>
                <p class="description">Videodaki cümleleri, eğitmiş olduğumuz 3 farklı cümle analizi modelimize veriyoruz. Böylelikle daha doğru sonuçlar elde ediyoruz.</p>
              </div>
            </div>
          </div><!-- End Service Item -->

      
        </div>

      </div>

    </section><!-- /Services Section -->



    <!-- Faq Section -->
    <section id="faq" class="faq section">

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="content px-xl-5">
              <h3><span>Sıkça Sorulan </span><strong>Sorular</strong></h3>
              
            </div>
          </div>

          <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">

            <div class="faq-container">
              <div class="faq-item faq-active">
                <h3><span class="num">1.</span> <span>Eklenti Nasıl Çalışıyor?</span></h3>
                <div class="faq-content">
                  <p>İzlemek istenilen videoya gidip eklentimizi açıyoruz. Ardından karşımıza çıkan butona bastıktan sonra içinde sonuçların bulunduğu websitesi adresi veriliyor.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div class="faq-item">
                <h3><span class="num">2.</span> <span>Uygunsuz Bulduğunuz Cümlelerdeki Filtreler Nelerdir?</span></h3>
                <div class="faq-content">
                  <p>4 farklı filtremiz var. Bunlar küfür, hakaret, ırkçı ve cinsiyetçiliktir.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div class="faq-item">
                <h3><span class="num">3.</span> <span>Ortalama Ne Kadar Sürede Sonuç Veriyorsunuz?</span></h3>
                <div class="faq-content">
                  <p>Sadece cümle versiyonunu seçerseniz ortalama 10 saniyede sonuç alabilirsiniz. Eğer görüntü analiziyle birlikte seçerseniz işlemlerin bitmesi birkaç dakikayı alacaktır.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

      

            </div>

          </div>
        </div>

      </div>

    </section><!-- /Faq Section -->


    <!-- Contact Section -->
    <section id="contact" class="contact section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>İletişim</h2>
        <p>Aşağıdaki bilgilerden erişim sağlayabilirsiniz.</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-6">

            <div class="row gy-4">
              <div class="col-md-6">
                <div class="info-item" data-aos="fade" data-aos-delay="200">
                  <i class="bi bi-geo-alt"></i>
                  <h3>Adres</h3>
                  <p>Atakum</p>
                  <p>Samsun</p>
                </div>
              </div><!-- End Info Item -->

              <div class="col-md-6">
                <div class="info-item" data-aos="fade" data-aos-delay="300">
                  <i class="bi bi-telephone"></i>
                  <h3>Bizi arayın.</h3>
                  <p>+90 543 947 40 64</p>
                
                </div>
              </div><!-- End Info Item -->

              <div class="col-md-6">
                <div class="info-item" data-aos="fade" data-aos-delay="400">
                  <i class="bi bi-envelope"></i>
                  <h3>Email Gönderin</h3>
                  <a href= "mailto: safetube.info@gmail.com">
                  <p>safetube.info@gmail.com</p>
                </a>
                </div>
              </div><!-- End Info Item -->

              <div class="col-md-6">
                <div class="info-item" data-aos="fade" data-aos-delay="500">
                  <i class="bi bi-clock"></i>
                  <h3>Ofis Saatleri</h3>
                  <p>Pazartesi - Cuma</p>
                  <p>09:00 - 18:00</p>
                </div>
              </div><!-- End Info Item -->

            </div>

          </div>

          <div class="col-lg-6">
            <form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="200">
              <div class="row gy-4">

                <div class="col-md-6">
                  <input type="text" name="name" class="form-control" placeholder="İsminiz" required="">
                </div>

                <div class="col-md-6 ">
                  <input type="email" class="form-control" name="email" placeholder="Mailiniz" required="">
                </div>

                <div class="col-md-12">
                  <input type="text" class="form-control" name="subject" placeholder="Konu" required="">
                </div>

                <div class="col-md-12">
                  <textarea class="form-control" name="message" rows="6" placeholder="Mesaj" required=""></textarea>
                </div>

                <div class="col-md-12 text-center">
                  <div class="loading">Gönderilemedi.</div>
                  
                  <div class="sent-message">Your message has been sent. Thank you!</div>

                  <button type="submit">Gönder</button>
                </div>

              </div>
            </form>
          </div><!-- End Contact Form -->

        </div>

      </div>

    </section><!-- /Contact Section -->

  </main>

  <footer id="footer" class="footer position-relative">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-about">
          <a href="index.html" class="logo d-flex align-items-center">
            <span class="sitename">Safetube</span>
          </a>
        
          <div class="social-links d-flex mt-4">
            <a href=""><i class="bi bi-twitter-x"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Faydalı Linkler</h4>
          <ul>
            <li><a href="#hero">Home</a></li>
            <li><a href="#about">About us</a></li>
            <li><a href="#services">Services</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Hizmetlerimiz</h4>
          <ul>
            <li><a href="#">Görüntü Analizi</a></li>
            <li><a href="#">Ses Analizi</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Bize Ulaşın</h4>
          <p>Atakum</p>
          <p>Samsun</p>
          <p>Türkiye</p>
          <p class="mt-4"><strong>Telefon:</strong> <span>+90 543 947 40 64</span></p>
          <p><strong>Email:</strong> <span>safetube.info@gmail.com</span></p>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="sitename">Safetube</strong> <span>Tüm Hakları Saklıdır.</span></p>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you've purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
        
      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/assets/vendor/php-email-form/validate.js"></script>
  <script src="/static/assets/vendor/aos/aos.js"></script>
  <script src="/static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/static/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="/static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/static/assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Main JS File -->
  <script src="/static/assets/js/main.js"></script>

</body>

</html>